.version.single_blog /* version checker */
{
	color: #000005;
	background-color: #0C47BA;
}

.html
{
	background: #FFFFFF url("../images/lightpaperfibers.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -390px;
	width: 0.01px;
}

#u4178
{
	z-index: 62;
	min-height: 290px;
	padding-bottom: 110px;
	background: transparent url("../images/homeslide_2.jpg") no-repeat center center;
	background-size: cover;
}

#u4178_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#u4193
{
	z-index: 230;
	width: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 543px;
}

#u4194-4
{
	z-index: 231;
	width: 315px;
	min-height: 60px;
	background-color: transparent;
	text-align: center;
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 58px;
	color: #FFFFFF;
	font-family: rouge-script, cursive;
	font-weight: 400;
	position: relative;
}

#u4195
{
	z-index: 235;
	width: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 108px;
	margin-top: 6px;
	position: relative;
}

#u4197-4
{
	z-index: 236;
	width: 26px;
	min-height: 47px;
	background-color: transparent;
	text-align: right;
	font-size: 36px;
	line-height: 43px;
	color: #C69C6D;
	font-family: rouge-script, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u4198
{
	z-index: 240;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF0000;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 35px;
}

#u4196-4
{
	z-index: 241;
	width: 26px;
	min-height: 47px;
	background-color: transparent;
	text-align: left;
	font-size: 36px;
	line-height: 43px;
	color: #C69C6D;
	font-family: rouge-script, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 74px;
}

#u4178-bw
{
	z-index: 62;
	min-height: 290px;
}

#pu76
{
	width: 0.01px;
	padding-bottom: 75px;
	margin-left: -100px;
	margin-top: -400px;
}

#u76
{
	z-index: 245;
	height: 75px;
	top: 0px;
}

#u76-bw
{
	z-index: 245;
}

#u144-4
{
	z-index: 283;
	width: 100px;
	min-height: 50px;
	top: 12px;
	left: 50%;
	margin-left: -585px;
}

#menuu84
{
	z-index: 246;
	width: 635px;
	top: 0px;
	left: 50%;
	margin-left: -185px;
}

#u85
{
	width: 104px;
	min-height: 75px;
	margin-right: -10000px;
}

#u88
{
	width: 104px;
	padding-bottom: 59px;
}

#u89-4
{
	width: 104px;
	min-height: 14px;
	margin-right: -10000px;
	top: 29px;
}

#u102
{
	width: 104px;
	min-height: 75px;
	margin-right: -10000px;
	left: 106px;
}

#u103
{
	width: 104px;
	padding-bottom: 59px;
}

#u106-4
{
	width: 104px;
	min-height: 14px;
	margin-right: -10000px;
	top: 29px;
}

#u137
{
	width: 104px;
	min-height: 75px;
	margin-right: -10000px;
	left: 212px;
}

#u138
{
	width: 104px;
	padding-bottom: 59px;
}

#u140-4
{
	width: 104px;
	min-height: 14px;
	margin-right: -10000px;
	top: 29px;
}

#u109
{
	width: 104px;
	min-height: 75px;
	margin-right: -10000px;
	left: 318px;
}

#u112
{
	width: 104px;
	padding-bottom: 59px;
}

#u114-4
{
	width: 104px;
	min-height: 14px;
	margin-right: -10000px;
	top: 29px;
}

#u4019
{
	width: 104px;
	min-height: 75px;
	margin-right: -10000px;
	left: 424px;
}

#u4020
{
	width: 104px;
	padding-bottom: 59px;
}

#u88.MuseMenuActive,#u103.MuseMenuActive,#u138.MuseMenuActive,#u112.MuseMenuActive,#u4020.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4023-4
{
	width: 104px;
	min-height: 14px;
	margin-right: -10000px;
	top: 29px;
}

#u88.MuseMenuActive #u89-4,#u103.MuseMenuActive #u106-4,#u138.MuseMenuActive #u140-4,#u112.MuseMenuActive #u114-4,#u4020.MuseMenuActive #u4023-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 104px;
	margin: 0px -10000px 0px 0px;
}

#u123
{
	width: 105px;
	min-height: 75px;
	margin-right: -10000px;
	left: 530px;
}

#u124
{
	width: 105px;
	padding-bottom: 59px;
}

#u124.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u126-4
{
	width: 105px;
	min-height: 14px;
	margin-right: -10000px;
	top: 29px;
}

#u124.MuseMenuActive #u126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u234
{
	z-index: 287;
	width: 25px;
	min-height: 34px;
	top: 25px;
	left: 50%;
	margin-left: 472px;
}

#u235
{
	z-index: 288;
	width: 25px;
	min-height: 34px;
	top: 25px;
	left: 50%;
	margin-left: 516px;
}

#u236
{
	z-index: 289;
	width: 25px;
	min-height: 34px;
	top: 25px;
	left: 50%;
	margin-left: 560px;
}

#u4122-4
{
	z-index: 193;
	width: 770px;
	min-height: 40px;
	background-color: transparent;
	text-align: left;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 36px;
	color: #333333;
	font-family: raleway, sans-serif;
	font-weight: 600;
	margin-left: 215px;
	margin-top: 90px;
	position: relative;
}

#u4124-4
{
	z-index: 201;
	width: 370px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
	color: #C69C6D;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 215px;
	margin-top: 9px;
	position: relative;
}

#u4121
{
	z-index: 192;
	width: 770px;
	height: 9px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: transparent;
	margin-left: 215px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4123-4
{
	z-index: 197;
	width: 770px;
	min-height: 154px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	letter-spacing: 1px;
	color: #999999;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 215px;
	margin-top: 30px;
	position: relative;
}

#u4083
{
	z-index: 100;
	width: 770px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	margin-left: 215px;
	margin-top: 25px;
	position: relative;
	background: #7F7F7F url("../images/blog_img.jpg") no-repeat center center;
	background-size: cover;
}

#u4125-4
{
	z-index: 205;
	width: 770px;
	min-height: 90px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	letter-spacing: 1px;
	color: #999999;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 215px;
	margin-top: 40px;
	position: relative;
}

#u4079-6
{
	z-index: 85;
	width: 708px;
	min-height: 86px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: #F3EBE1;
	background-color: rgba(198,156,109,0.2);
	padding: 12px;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 14px;
	color: #666666;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 250px;
	margin-top: 30px;
	position: relative;
	border-width: 0px 0px 0px 3px;
	-pie-background: rgba(198,156,109,0.2);
}

#u4079-2,#u4079-4
{
	padding-left: 15px;
}

#u4126-4
{
	z-index: 209;
	width: 770px;
	min-height: 90px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	letter-spacing: 1px;
	color: #999999;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 215px;
	margin-top: 30px;
	position: relative;
}

#u4127-4
{
	z-index: 213;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	letter-spacing: 2px;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 215px;
	margin-top: 66px;
	position: relative;
}

#u4136
{
	z-index: 217;
	width: 35px;
	height: 18px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 215px;
	margin-top: 12px;
	position: relative;
	border-width: 2px 0px 0px;
}

#pu4183
{
	width: 0.01px;
	margin-left: 215px;
	margin-top: 24px;
}

#u4183
{
	z-index: 64;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4187
{
	z-index: 73;
	width: 370px;
	height: 245px;
	position: relative;
	background: transparent url("../images/blog_1.jpg") no-repeat center center;
	background-size: cover;
}

#u4184-4
{
	z-index: 65;
	width: 370px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #333333;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-top: 24px;
	position: relative;
}

#u4185-4
{
	z-index: 69;
	width: 335px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 29px;
	color: #C69C6D;
	font-family: rouge-script, cursive;
	font-weight: 400;
	margin-left: 18px;
	margin-top: 1px;
	position: relative;
}

#u4188
{
	z-index: 74;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u4192
{
	z-index: 83;
	width: 370px;
	height: 245px;
	position: relative;
	background: transparent url("../images/blog_2.jpg") no-repeat center center;
	background-size: cover;
}

#u4189-4
{
	z-index: 75;
	width: 370px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #333333;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-top: 24px;
	position: relative;
}

#u4190-4
{
	z-index: 79;
	width: 335px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 29px;
	color: #C69C6D;
	font-family: rouge-script, cursive;
	font-weight: 400;
	margin-left: 18px;
	margin-top: 1px;
	position: relative;
}

#u4078
{
	z-index: 84;
	width: 770px;
	border-style: none;
	border-color: transparent;
	background-color: #F1E7DD;
	padding-bottom: 20px;
	margin-left: 215px;
	margin-top: 93px;
	position: relative;
}

#u4080
{
	z-index: 91;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 17px;
	background: #7F7F7F url("../images/author.jpg") no-repeat center center;
	background-size: cover;
}

#pu4081-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 135px;
}

#u4081-4
{
	z-index: 92;
	width: 234px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0px;
	color: #3F3F3F;
	font-family: raleway, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 1px;
	position: relative;
}

#u4116
{
	z-index: 191;
	width: 35px;
	height: 9px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u4082-4
{
	z-index: 96;
	width: 600px;
	min-height: 50px;
	background-color: transparent;
	letter-spacing: 0px;
	line-height: 20px;
	color: #666666;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u4137-6
{
	z-index: 218;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	letter-spacing: 5px;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 215px;
	margin-top: 92px;
	position: relative;
}

#u4137-2
{
	letter-spacing: 2px;
}

#u4138
{
	z-index: 224;
	width: 35px;
	height: 18px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 215px;
	margin-top: 12px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u4085
{
	z-index: 102;
	width: 750px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 215px;
	margin-top: 27px;
	position: relative;
}

#u4088
{
	z-index: 103;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/blog_comment_1.jpg") no-repeat center center;
	background-size: cover;
}

#u4087-4
{
	z-index: 104;
	width: 344px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #222222;
	font-family: raleway, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}

#u4086-4
{
	z-index: 108;
	width: 625px;
	min-height: 45px;
	background-color: transparent;
	letter-spacing: 1px;
	line-height: 20px;
	color: #666666;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u4084
{
	z-index: 101;
	width: 770px;
	height: 19px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: transparent;
	margin-left: 215px;
	margin-top: 20px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u4089
{
	z-index: 112;
	width: 725px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 240px;
	position: relative;
}

#u4091
{
	z-index: 113;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/blog_comment_2.jpg") no-repeat center center;
	background-size: cover;
}

#u4092-4
{
	z-index: 114;
	width: 319px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #222222;
	font-family: raleway, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}

#u4090-4
{
	z-index: 118;
	width: 600px;
	min-height: 44px;
	background-color: transparent;
	letter-spacing: 1px;
	line-height: 20px;
	color: #666666;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u4093
{
	z-index: 122;
	width: 770px;
	height: 17px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: transparent;
	margin-left: 215px;
	margin-top: 1px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4094
{
	z-index: 123;
	width: 750px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 215px;
	margin-top: 22px;
	position: relative;
}

#u4096
{
	z-index: 124;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/blog_comment_3.jpg") no-repeat center center;
	background-size: cover;
}

#pu4087-4,#pu4092-4,#pu4097-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 125px;
}

#u4097-4
{
	z-index: 125;
	width: 265px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #222222;
	font-family: raleway, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}

#u4095-4
{
	z-index: 129;
	width: 625px;
	min-height: 45px;
	background-color: transparent;
	letter-spacing: 1px;
	line-height: 20px;
	color: #666666;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u4098
{
	z-index: 133;
	width: 770px;
	height: 16px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: transparent;
	margin-left: 215px;
	margin-top: 21px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u4139-4
{
	z-index: 225;
	width: 270px;
	min-height: 26px;
	background-color: transparent;
	letter-spacing: 2px;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-left: 215px;
	margin-top: 97px;
	position: relative;
}

#u4140
{
	z-index: 229;
	width: 35px;
	height: 18px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 215px;
	margin-top: 12px;
	position: relative;
	border-width: 2px 0px 0px;
}

#widgetu4099
{
	z-index: 134;
	width: 0.01px;
	height: 370px;
	margin-left: 215px;
	margin-top: 37px;
	position: relative;
}

#widgetu4111
{
	z-index: 135;
	width: 372px;
	height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu4111.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 372px;
	height: 72px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4114-4
{
	z-index: 136;
	width: 334px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #FFFFFF;
	padding: 18px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#widgetu4111.focus-st #u4114-4
{
	border-color: #E9E9E9;
	background-color: #666666;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 20px -10000px 0px 0px;
}

#widgetu4111.fld-err-st #u4114-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 20px -10000px 0px 0px;
}

#u4113-4
{
	z-index: 140;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 231px;
}

#widgetu4107
{
	z-index: 144;
	width: 372px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 399px;
}

#widgetu4107.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 372px;
	height: 71px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u4109-4
{
	z-index: 145;
	width: 334px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #FFFFFF;
	padding: 18px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu4107.focus-st #u4109-4
{
	border-color: #E9E9E9;
	background-color: #666666;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4107.fld-err-st #u4109-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 334px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4107.focus-st #u4109-4 *
{
	color: #FFFFFF;
}

#u4108-4
{
	z-index: 149;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#widgetu4111_input,#widgetu4111_prompt,#widgetu4107_input,#widgetu4107_prompt
{
	width: 334px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: raleway, sans-serif;
	font-weight: 400;
	padding: 18px;
}

#u4105-4
{
	z-index: 153;
	width: 370px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 235px;
}

#widgetu4099.frm-sub-st #u4105-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u4115-4
{
	z-index: 157;
	width: 370px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 235px;
}

#widgetu4099.frm-subm-err-st #u4115-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u4106-4
{
	z-index: 161;
	width: 370px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 235px;
}

#widgetu4099.frm-sub-st #u4105-4,#widgetu4099.frm-subm-err-st #u4115-4,#widgetu4099.frm-subm-ok-st #u4106-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu4099.frm-subm-ok-st #u4106-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u4104-17
{
	z-index: 165;
	min-height: 50px;
	width: 184px;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	background: url("../images/u4104-17.png") no-repeat 0px 0px;
}

#u4104-17:hover
{
	background: url("../images/u4104-17-r.png") no-repeat 0px 0px;
}

#u4104-17:active
{
	background: url("../images/u4104-17-m.png") no-repeat 0px 0px;
}

#widgetu4099.frm-sub-st #u4104-17
{
	background: url("../images/u4104-17-fs.png") no-repeat 0px 0px;
}

#widgetu4100
{
	z-index: 182;
	width: 772px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: -1px;
}

#widgetu4100.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 772px;
	height: 206px;
	min-height: 0px;
	margin: 84px -10000px 0px 0px;
}

#u4102-4
{
	z-index: 183;
	width: 734px;
	min-height: 149px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #FFFFFF;
	padding: 18px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu4100.focus-st #u4102-4
{
	border-color: #E9E9E9;
	background-color: #666666;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 149px;
	width: 734px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4100.fld-err-st #u4102-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 149px;
	width: 734px;
	margin: 19px -10000px 0px 0px;
}

#widgetu4100.focus-st #u4102-4 *
{
	color: #FFFFFF;
}

#widgetu4111.fld-err-st #u4114-4 *,#widgetu4107.fld-err-st #u4109-4 *,#widgetu4100.fld-err-st #u4102-4 *
{
	color: #D7244C;
}

#u4103-4
{
	z-index: 187;
	width: 130px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: right;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 641px;
}

#widgetu4111.fld-err-st #u4113-4,#widgetu4107.fld-err-st #u4108-4,#widgetu4100.fld-err-st #u4103-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4111.fld-err-st #u4113-4 p,#widgetu4107.fld-err-st #u4108-4 p,#widgetu4100.fld-err-st #u4103-4 p
{
	color: #D7244C;
	font-style: italic;
}

#widgetu4100_input,#widgetu4100_prompt
{
	width: 734px;
	min-height: 149px;
	color: #C4C4C4;
	font-family: raleway, sans-serif;
	font-weight: 400;
	padding: 18px;
}

#widgetu4111.focus-st #widgetu4111_input,#widgetu4111.fld-err-st #widgetu4111_input,#widgetu4111.focus-st #widgetu4111_prompt,#widgetu4111.fld-err-st #widgetu4111_prompt,#widgetu4107.focus-st #widgetu4107_input,#widgetu4107.fld-err-st #widgetu4107_input,#widgetu4107.focus-st #widgetu4107_prompt,#widgetu4107.fld-err-st #widgetu4107_prompt,#widgetu4100.focus-st #widgetu4100_input,#widgetu4100.fld-err-st #widgetu4100_input,#widgetu4100.focus-st #widgetu4100_prompt,#widgetu4100.fld-err-st #widgetu4100_prompt
{
	padding-top: 18px;
	padding-bottom: 18px;
}

#widgetu4111.non-empty-st #widgetu4111_prompt,#widgetu4107.non-empty-st #widgetu4107_prompt,#widgetu4100.non-empty-st #widgetu4100_prompt
{
	visibility: hidden;
}

#u4182
{
	z-index: 63;
	width: 770px;
	height: 90px;
	margin-left: 215px;
	margin-top: 69px;
	position: relative;
}

#pu916
{
	width: 0.01px;
	margin-left: -100px;
}

#u916
{
	z-index: 2;
	min-height: 389.8499999999999px;
	padding-bottom: 0px;
}

#u916_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	padding-top: 45px;
	padding-bottom: 14px;
}

#u1057-4
{
	z-index: 58;
	width: 183px;
	min-height: 30px;
	left: 608px;
}

#u919-4
{
	z-index: 3;
	width: 285px;
	min-height: 60px;
	left: 558px;
}

#u920
{
	z-index: 7;
	width: 100px;
	left: 650px;
	margin-top: 17px;
}

#u924-4
{
	z-index: 8;
	width: 26px;
	min-height: 47px;
	margin-right: -10000px;
}

#u921
{
	z-index: 12;
	width: 30px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 35px;
}

#u923-4
{
	z-index: 13;
	width: 26px;
	min-height: 47px;
	margin-right: -10000px;
	left: 74px;
}

#u925-4
{
	z-index: 17;
	width: 441px;
	min-height: 28px;
	left: 479px;
	margin-top: 149px;
}

#u916-bw
{
	z-index: 2;
	min-height: 389.8499999999999px;
}

#pamphletu926
{
	z-index: 21;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 216px;
	left: 550px;
}

#u927popup
{
	z-index: 22;
}

#u931
{
	z-index: 23;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u932
{
	z-index: 24;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u928
{
	z-index: 25;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u929
{
	z-index: 26;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u940
{
	z-index: 27;
	width: 75px;
	margin-right: -10000px;
}

#u942
{
	width: 75px;
	height: 75px;
}

.ie #u4182,.ie #u942
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u942:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u942:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u942.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u941
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

#pamphletu961
{
	z-index: 30;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 216px;
	left: 625px;
}

#u969popup
{
	z-index: 31;
}

#u969
{
	width: 45px;
	top: 14px;
	left: 16px;
}

#u973
{
	z-index: 32;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u974
{
	z-index: 33;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u970
{
	z-index: 34;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u971
{
	z-index: 35;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u962
{
	z-index: 36;
	width: 75px;
	margin-right: -10000px;
}

#u963
{
	width: 75px;
	height: 75px;
}

.ie #u942.PamphletThumbSelected,.ie #u941,.ie #u963
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u963:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u963:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u963.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u964
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

#pamphletu978
{
	z-index: 39;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 216px;
	left: 700px;
}

#u986popup
{
	z-index: 40;
}

#u990
{
	z-index: 41;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u991
{
	z-index: 42;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u987
{
	z-index: 43;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u988
{
	z-index: 44;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u979
{
	z-index: 45;
	width: 75px;
	margin-right: -10000px;
}

#u980
{
	width: 75px;
	height: 75px;
}

.ie #u963.PamphletThumbSelected,.ie #u964,.ie #u980
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u980:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u980:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u980.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u981
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

#pamphletu995
{
	z-index: 48;
	width: 0.01px;
	height: 75px;
	margin-right: -10000px;
	margin-top: 216px;
	left: 775px;
}

#u1003popup
{
	z-index: 49;
}

#u927,#u986,#u1003
{
	width: 45px;
	top: 14px;
	left: 15px;
}

#u1007
{
	z-index: 50;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1008
{
	z-index: 51;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u1004
{
	z-index: 52;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u1005
{
	z-index: 53;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u996
{
	z-index: 54;
	width: 75px;
	margin-right: -10000px;
}

#u997
{
	width: 75px;
	height: 75px;
}

.ie #u980.PamphletThumbSelected,.ie #u981,.ie #u997
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u997:hover
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

.ie #u997:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u997.PamphletThumbSelected
{
	width: 75px;
	height: 75px;
	min-height: 0px;
	margin: 0px;
}

#u998
{
	width: 45px;
	height: 45px;
	top: 15px;
	left: 15px;
}

.ie #u997.PamphletThumbSelected,.ie #u998
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1012
{
	z-index: 57;
	height: 28px;
}

#u1012-bw
{
	z-index: 57;
	margin-top: 319px;
	height: 28px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-bottom: 390px;
}

#page .verticalspacer
{
	clear: both;
}

