{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load savedate_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block navStyle %} top-bar fluid-width block-color nav-center sticky-nav animation fadeInDown {% endblock %}

{% block content %}

{% image self.imagenFooter width-1000 as footer_image %}

<!-- MAIN SLIDER -->

<section id="content" style="padding: 50px 0;">

    <section id="main-slider" class="flexslider fixed-height">

    <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
    <div class="slide-title-outter-wrapper">
        <!-- MAIN SLIDER TITLE INNER WRAPPER -->
        <div class="slide-title-inner-wrapper">

            <!-- TITLE 1  -->
            <div class="slide-title align-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <div class="page-title">

                                <h1>GALERÍA</h1>

                                <div class="heart-divider">
                                    <span class="white-line"></span>
                                    <i class="de-icon-heart pink-heart"></i>
                                    <i class="de-icon-heart white-heart"></i>
                                    <span class="white-line"></span>
                                </div>
                                    {{ self.mensajeGaleria |richtext }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->
    </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

    <!-- MAIN SLIDER IMAGES -->

    <ul class="slides">
        {% slider_galeria %}
    </ul><!-- END of MAIN SLIDER IMAGES -->
</section><!-- ENF of MAIN SLIDER -->
</section>

<!--CONTENT SECTION-->
<section id="content">

    <div class="container">
        <h1 style="text-align: center">VIDEO PRE-BODA</h1>

        <div align="center" class="embed-responsive embed-responsive-16by9">
            <video controls class="embed-responsive-item">
                <source id="preoboda" src="{% get_media_prefix %}video/preboda.mp4" type="video/mp4" >
            </video>
        </div>

    </div>


    <!-- CONTAINER -->
    <div class="container" style="padding: 50px 0;">
        <h1 style="text-align: center">GALERÍA DE FOTOS</h1>
        <!-- GALLERY -->
        <div class="row">
            <div class="col-md-offset-1 col-md-10">

                <!-- START MASONRY -->
                <div id="masonry-gallery" class="masonry three-col with-gutter">

                    <!-- MASONRY GRID SIZER -->
                    <div class="grid-sizer"></div>

                    <!-- MASONRY GUTTER SIZER -->
                    <div class="gutter-sizer"></div>

                    {% fotos_galeria %}

                </div><!-- END of MASONRY-->

            </div>
        </div><!-- END of GALLERY-->

    </div><!-- END of CONTAINER -->

</section><!-- END of CONTENT SECTION -->



<!-- FOOTER SECTION -->
<footer>
    <div class="image-divider fixed-height" style="background-image:url({{ footer_image.url }}); height:400px;" data-stellar-background-ratio="0.5" >

        <div class="divider-overlay" style="opacity:0.1"></div>

        <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
        <div class="alignment">
            <div class="v-align center-middle">

                <!-- HEART DIVIDER & COUPLE NAME -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="heart-divider animation delay1 fadeInUp">
                                <span class="white-line"></span>
                                <i class="de-icon-heart pink-heart"></i>
                                <i class="de-icon-heart white-heart"></i>
                                <span class="white-line"></span>
                            </div>

                            <div id="footer-couple-name" class="animation delay1 fadeInUp">
                                CARLA & JOSÉ
                            </div>

                        </div>
                    </div>
                </div><!-- END of HEART DIVIDER & COUPLE NAME -->

            </div>
        </div><!-- END of Center Middle Alignment -->

    </div>
</footer><!-- END of FOOTER SECTION -->



{% endblock %}