{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load savedate_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block navStyle %} top-bar fluid-width block-color nav-center sticky-nav animation fadeInDown {% endblock %}

{% block content %}

    {% image self.imagenFondo width-1200 as localizacion_image %}


<!-- MAIN SLIDER -->
<section id="main-slider" class="fixed-height">

    <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
    <div class="slide-title-outter-wrapper">

        <!-- MAIN SLIDER TITLE INNER WRAPPER -->
        <div class="slide-title-inner-wrapper">

            <!-- TITLE 1  -->
            <div class="slide-title align-middle">

                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">

                            <div class="page-title">

                                <div style="padding-top:145px">
                                    <h1 class="animation bounceInLeft">{{ self.nombreCompleto |richtext }}</h1>

                                    <a href="#location-map" class="de-button outline medium animation delay1 bounceInRight smooth-scroll">
                                        OBTENER DIRECCIÓN
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

    </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

    <!-- MAIN SLIDER IMAGES -->
    <div class="slides">
            <!-- SLIDE IMAGE -->
            <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url({{ localizacion_image.url  }}); background-position:center bottom">
            </div>

            <div class="slide-overlay"> </div>
    </div>	<!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->

<!--CONTENT SECTION-->
<section id="content" style="padding: 120px 0;">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW-1 -->
        <div class="row">

            <div class="col-md-offset-1 col-md-5">

                <div class="white-box-content-wrapper animation fadeInLeft">
                    <h3>LOCALIZACIÓN CEREMONIA</h3>
                    <span>Avenida San Jerónimo 513, Umacollo<br/><br/></span>
                    {{ self.descripcionCeremonia |richtext }}

                    {% image self.imagenCeremonia width-400 class="fullwidth"  %}

                </div>

            </div>

            <div class="col-md-5">

                <div class="white-box-content-wrapper animation fadeInRight">
                    <h3>LOCALIZACIÓN RECEPCIÓN</h3>
                    <span>Curva Chilina s/n, Alto Selva Alegre <br/><br/></span>
                    {{ self.descripcionRecepcion |richtext }}
                    {% image self.imagenRecepcion width-400 class="fullwidth"  %}
                </div>

            </div>

        </div><!--END of ROW-1-->


    </div> <!-- END of CONTAINER -->

</section> <!--END of CONTENT SECTION-->

<footer>
    <iframe id="location-map" src="{{ self.localizacion_maps }}"
            width=110% height=550px frameborder="0" style="border:0" allowfullscreen></iframe>
</footer>

{% endblock %}
